<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Newtonsoft.Json" version="12.0.1" targetFramework="net471" />
  <package id="Rebus" version="5.2.1" targetFramework="net471" />
  <package id="Rebus.SimpleInjector" version="5.0.0-b02" targetFramework="net471" />
  <package id="Rebus.SqlServer" version="5.0.3" targetFramework="net471" />
  <package id="SimpleInjector" version="4.4.3" targetFramework="net471" />
</packages>